h1 Heading
p Please work
//- this will retrieve a set of coordinates. however it is in the console
//- of the web page that pops up
script.
  const successfulGetLocation = (position) => {
  console.log('pos = ', position);
  console.log('lat = ', position.coords.latitude);
  console.log('long = ', position.coords.longitude);
  };
  navigator.geolocation.getCurrentPosition(successfulGetLocation)